<!DOCTYPE html>
<html xmlns="http://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title th:text="${Titulo}"></title>
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
<h1 th:text="${Titulo}"></h1>
</head>
<body>
<section th:replace="componentes/tiempo :: interceptor"></section>
	<div class="container">
		<form th:action="@{/form}" th:object="${usuario}" method="POST">
			<!-- action va al mapeo del metodo que deseamos en este caso /form y el metodo es post -->

			<div class="form-group row">
				<label for="habilitar" class="col-form-label col-sm-2">Habilitar</label>
				<div class="row col-sm-2">
					<input type="checkbox" id="habilitar" th:field="*{habilitar}"
						class="form-control col-sm-1">
				</div>
			</div>

			<div class="form-group row">
				<label for="tokenId" class="col-form-label col-sm-2">TokenId</label>
				<div class="row col-sm-2">
					<input type="text" id="tokenId" th:field="*{tokenId}"
						class="form-control">
					<div th:if="${#fields.hasErrors('tokenId')}" th:errors="*{tokenId}" class="alert alert-danger"></div>
				</div>
			</div>


			<!--  <div>
			<label for="pais">Pais de origen:</label>
			<div>
				<select id="pais" th:field="*{pais}">
				<option value=" ">-- Seleccionar --</option>
					<option th:each="pais: ${paises}" th:text="${pais}" th:value="${pais}"></option>
				</select>
			</div>
			<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
		</div>  -->

			<!-- <div>
			<label for="pais">Pais de origen:</label>
			<div>
				<select id="pais" th:field="*{pais}">
				<option value=" ">-- Seleccionar -- </option>
					<option th:each="pais: ${paisesMap.entrySet()}" th:text="${pais.value}" th:value="${pais.key}"></option>
				</select>	
			</div>
			<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}"></div>
		</div>   -->

			<div class="form-group row">
				<label for="pais.clave" class="col-form-label col-sm-2">Pais de origen:</label>
				<div class="row col-sm-2">
					<select id="pais" th:field="*{pais}" class="form-control">
						<!-- con el property editor ya pasamos el objeto directamente -->
						<option value="">-- Seleccionar --</option>
						<option th:each="pais: ${paisesObjeto}" th:text="${pais.pais}"
							th:value="${pais.id}"></option>
					</select>
				</div>
				<div th:if="${#fields.hasErrors('pais')}" th:errors="*{pais}" class="alert alert-danger"></div>
			</div>

			<!--  
		<div>
			<label>Roles</label>
			<div th:each="role: ${listaRoles}">
				<input type="checkbox" th:field="*{roles}" th:value="${role}">
				<label th:for="${#ids.prev('roles')}" th:text="${role}"></label>
			</div>
			<div th:if="${#fields.hasErrors('roles')}" th:errors="${roles}"></div>
		</div>
		
		-->

			<!--  
		<div>
			<label>Roles</label>
			<div th:each="role: ${mapRoles.entrySet()}">
				<input type="checkbox" th:field="*{roles}" th:value="${role.key}">
				<label th:for="${#ids.prev('roles')}" th:text="${role.value}"></label>
			</div>
			<div th:if="${#fields.hasErrors('roles')}" th:errors="${roles}"></div>
		</div>
		
		-->

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Roles</label>
				<div th:each="role: ${listaObjetoRoles}" class="row col-sm-2">
					<input type="checkbox" th:field="*{roles}" th:value="${role.id}"
						th:checked="${#lists.contains(usuario.roles, role)}"
						class="form-control col-form-label col-sm-2" > <label
						th:for="${#ids.prev('roles')}" th:text="${role.nombre}"></label>
				</div>
				<div th:if="${#fields.hasErrors('roles')}" th:errors="*{roles}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="nombre" class="col-form-label col-sm-2">Nombre</label>
				<div class="row col-sm-2">
					<input type="text" id="nombre" th:field="*{nombre}"
						class="form-control">
					<div th:if="${#fields.hasErrors('nombre')}" th:errors="*{nombre}" class="alert alert-danger"></div>
				</div>
			</div>

			<div class="form-group row">
				<label for="apellido" class="col-form-label col-sm-2">Apellido</label>
				<div class="row col-sm-2">
					<input type="text" id="apellido" th:field="*{apellido}"
						class="form-control">
					<div th:if="${#fields.hasErrors('apellido')}"
						th:errors="*{apellido}" class="alert alert-danger"></div>
				</div>
			</div>

			<div class="form-group row">
				<label for="username" class="col-form-label col-sm-2">User:</label>
				<div class="row col-sm-2"> 
					<input type="text" id="username" th:field="*{username}"
						class="form-control">
					<!-- *expresion de seleccion reduce la longitud de la expresion mediante un objeto precisado -->
				</div>
				<!--  <div th:if="${error != null && error.containsKey('username')}" th:text="${error.username}" ></div> -->
				<div th:if="${#fields.hasErrors('username')}"
					th:errors="*{username}" class="alert alert-danger"></div>
				<!-- # nos permite a partir de ficheros properties o de rexto cargar losmensajes  -->
			</div>

			<div class="form-group row">
				<label class="col-form-label col-sm-2">Genero</label>
				<div th:each="gen: ${genero}" class="row col-sm-2">
					<input type="radio" th:field="*{genero}" th:value="${gen}"
						class="form-control col-form-label col-sm-2"> <label
						th:for="${#ids.prev('genero')}" th:text="${gen}" class="col-sm-2"></label>
				</div>
				<div th:if="${#fields.hasErrors('genero')}" th:errors="*{genero}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="password" class="col-form-label col-sm-2">Password:</label>
				<div class="row col-sm-2">
					<input type="password" name="password" id="password"
						class="form-control">
				</div>
				<!--<div th:if="${error != null && error.containsKey('password')}" th:text="${error.password}"></div>-->
				<div th:if="${#fields.hasErrors('password')}"
					th:errors="*{password}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="email" class="col-form-label col-sm-2">Email:</label>
				<div class="row col-sm-2">
					<input type="email" id="email" th:field="*{email}"
						class="form-control">
				</div>
				<!--<div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}" ></div>-->
				<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="cuenta" class="col-form-label col-sm-2">Cuenta:</label>
				<div class="row col-sm-2">
					<input type="number" id="cuenta" th:field="*{cuenta}"
						class="form-control">
				</div>
				<!--<div th:if="${error != null && error.containsKey('email')}" th:text="${error.email}" ></div>-->
				<div th:if="${#fields.hasErrors('cuenta')}" th:errors="*{cuenta}" class="alert alert-danger"></div>
			</div>

			<div class="form-group row">
				<label for="fecha" class="col-form-label col-sm-2 ">Fecha:</label>
				<div class="row col-sm-2">
					<input type="date" id="fecha" th:field="*{fecha}"
						placeholder="yyyy-MM-dd" class="form-control">
				</div>
				<div th:if="${#fields.hasErrors('fecha')}" th:errors=*{fecha} class="alert alert-danger"></div>
			</div>


			<div class="form-group row">
				<input type="submit" value="Enviar datos" class="btn btn-primary">
				<input type="hidden" id="hiddenValue" th:field="*{valorSecreto}"
					class="form-control">
			</div>
		</form>
	</div>
</body>
</html>